
.container {
    display: flex;
    justify-content: center;
}
#profile-image {
    width: 300px;
    height: 200px;
    padding-right: 20px;
    padding-top: 8px;
}
h1 {
    color: white;
}
body {
      background-image: url("../images/IMG_3362.jpg");
    background-size: cover;
    
}

p {
    color: white;
    
}

.bg-custom {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,79,212,1) 32%, rgba(0,212,255,1) 100%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#contact-form {
    color: white;
}

#portfoliohead {
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    }

    #Resume {
        text-align: center;
    }

    .resumecenter {
        text-align: center;
    }

    .portimg {
        width: 400px;
        height: 250px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 40px;
    
    }